<tr>
    <td class="px-6 py-4 whitespace-nowrap text-center">
        <span
            class="
                px-4
                py-2
                inline-flex
                text-sm
                leading-5
                font-semibold
                rounded-md
                bg-blue-100
                text-blue-800
            "
        >
            <%= container.name.toUpperCase() %>
        </span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-center">
        <span
            class="
                px-4
                py-2
                inline-flex
                text-sm
                leading-5
                font-semibold
                rounded-md
                bg-sky-100
                text-sky-800
            "
        >
            <%= container.image %>
        </span>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-center">
        <% container.hosts.forEach(host => { %>
        <a href="https://<%= host%>">
            <span
                class="
                    px-4
                    py-2
                    inline-flex
                    text-sm
                    leading-5
                    font-semibold
                    rounded-md
                    bg-amber-100
                    text-amber-800
                "
            >
                <%= host %>
            </span>
        </a>
        <% }) %>
    </td>

    <!-- <td class="px-6 py-4 whitespace-nowrap text-center">
        <span
            class="
                px-4
                py-2
                inline-flex
                text-xs
                leading-5
                font-semibold
                rounded-md
                bg-green-100
                text-green-800
            "
        >
            Active
        </span>
    </td> -->

    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <button
            href="#"
            class="text-indigo-600 hover:text-indigo-900"
            onclick="handleEdit('<%= container.name %>');"
        >
            Edit
        </button>
    </td>
</tr>
